/* Color Variables */
/* Global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  user-select: none;
}

button, input, select, textarea {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}

body {
  line-height: 1.5;
  color: #333;
  font-family: Verdana, sans-serif;
  font-size: 15px;
}
body header {
  position: fixed;
  z-index: 1;
  width: 100%;
  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  letter-spacing: 4px;
}
body header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  height: 54px;
  padding: 0 20px;
  margin: 0 auto;
}
body header nav .header-left, body header nav .header-right {
  display: flex;
}
body header nav .header-left a, body header nav .header-right a {
  height: 23px;
  border-bottom: 1px solid transparent;
  color: #000;
  user-select: none;
  text-decoration: none;
}
body header nav .header-left a:not(:first-of-type), body header nav .header-right a:not(:first-of-type) {
  margin-left: 46px;
}
body header nav .header-left a:hover, body header nav .header-right a:hover {
  border-color: #000;
}
body header nav .header-left a.active, body header nav .header-right a.active {
  border-color: #000;
}
body main {
  max-width: 1240px;
  padding: 0 20px 20px 20px;
  margin: 0 auto;
}
body main section:first-of-type h3 {
  padding-top: 106px; /* adds heading height to normal padding */
}
body main section:not(:first-of-type) h3 {
  padding-top: 58px;
}
body main section#projects .content {
  display: none;
}
body main section#projects .content.active {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  gap: 16px;
}
body main section#projects .content.active .gallery {
  float: left;
  flex: 1 1 calc(33.333% - 16px); /* Removing gap from last element in both rows */
}
body main section#projects .content.active .gallery a img {
  display: block;
  width: 100%;
  height: auto;
}
body main section#projects .content.active .gallery h2 {
  margin: 10px 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
}
body main section#projects .content.active .gallery p.tags {
  margin: 15px 0;
  opacity: 0.6;
}
body main section#projects .content.active .gallery p.description {
  margin: 15px 0;
}
body main section#projects .content.active .gallery a.gallery-button {
  display: block;
  float: left;
  width: fit-content;
  box-sizing: border-box;
  padding: 8px 16px;
  margin-right: 10px;
  color: #000;
  background-color: #f1f1f1;
  text-decoration: none;
}
body main section#projects .content.active .gallery a.gallery-button:hover {
  background-color: #ccc;
}
body main section#projects .pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}
body main section#projects .pagination a {
  float: left;
  padding: 8px 16px;
  color: black;
  user-select: none;
  text-decoration: none;
}
body main section#projects .pagination a:hover:not(.active) {
  background-color: #ddd;
}
body main section#projects .pagination a.active {
  color: white;
  background-color: #4CAF50;
}
body main section#projects .pagination a.clicked {
  color: white;
  background-color: #4CAF50;
}
body main section#contact p {
  margin-bottom: 15px;
}
body main section#contact form input, body main section#contact form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}
body main section#contact form input {
  margin-bottom: 16px;
}
body main section#contact form textarea {
  display: block;
  margin-bottom: 32px;
}
body main section#contact form button {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
body main section#contact form button:hover {
  color: #000;
  background-color: #ccc;
}
body main section h3 {
  padding-bottom: 16px;
  margin-bottom: 31px;
  border-bottom: 1px solid #f1f1f1;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
