body {
	margin-top: 0;
    margin-right: auto;
	margin-bottom: 0;
    margin-left: auto;
    background-color: #F2F2F2;
}
header {
	display: flex;
	justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
	padding-top: 14px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 14px;
	background-color: #F2F2F2;
}
header a {
	font-size: 18px;
	text-decoration: none;
	outline: none;
	font-family: "Neue Haas","Helvetica Neue","Helvetica","Arial",sans-serif;
    transition: all 0.3s;
	color: #3A4024; 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: transparent;
}
header a:hover {
	color: #586A8C;
    border-color: #586A8C;
}
.headerLeft {
	display: flex;
}
.headerRight {
	display: flex;
}
.headerRight > a:not(:first-of-type) {
	margin-left: 15px;
}
hr {
	border-color: #9EA660;
	margin: 0;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
content {
	display: block;
    max-width: 1200px;
	height: 1500px;
    margin-left: auto;
    margin-right: auto;
	background-color: #F2F2F2;
}
.active {
    border-bottom-width: 1px;
    border-color: #586A8C;
    border-bottom-style: solid;
	color: #586A8C;
}
/*
#586A8C    Blue
#3A4024    Dark Brown
#9EA660    Light Brown
#F2F2F2    White
#0D0D0D    Black
*/